{% extends "layouts/base-copy.html" %}
{% set project = "Home" %}

{% block body %}
    <style>
        html, body {
            font-family: 'Roboto Flex', sans-serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #fee3c3;
            scroll-behavior: smooth;
        }

        .text-title {
            color: black
        }

        .position-title-y{
            padding-top:6rem;
            padding-bottom:3rem;
        }

        .position-title-x{
            padding-right:3rem;
            padding-left:3rem;
        }

        .auto{
            margin-right:auto;
            margin-left:auto;
        }
        .position-subtitle-y{
            padding-top:3rem;
            padding-bottom:3rem;
        }
    </style>
    <!-- Start of body content specific to page -->
    <div class="position-title-x position-title-y auto">
        <center> <h1 class="text-title">SAT<strong> Practice</strong></h1> </center>
        <center><h1 class="text-title"><strong>Starts</strong> Here!</h1></center>
        <div class="position-title-x position-subtitle-y auto">
            <center><h5 class="text-title">Practice your skills here!</h5>
        </div>
        <div class="row position-title-y">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/math.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Math Quiz</h5>
                    <p class="card-text">
                        <ol>
                            <li>Here is a quiz on math for you to practice your skills!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go to math quiz!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/science.jpeg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Science Quiz</h5>
                    <p class="card-text">
                        <ol>
                            <li>Practice your science skills with this quiz!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go to science quiz!</a>
                    </div>
                </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/geography.jpeg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Geography Quiz</h5>
                    <p class="card-text">
                        <ol>
                            <li>Practice your geography skills with this quiz!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go to geography quiz!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}