{% extends "layouts/base-copy.html" %}
{% set project = "test" %}

{% block body %}
    <style>
        .container{
            height: 500px;
            width: 300px;
            color: black;
            border: 5px solid black;
        }

        .black {
            background-color: #fff;
        }

        .test-text{
            color: black;
        }

        .result {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
            text-align: center
        }

        .class-btn {
            width: 100%
        }

    </style>
    <script>
        const apiurl = "https://opentdb.com/api.php?amount=10&category=19&type=multiple"
        window.onload = APIsync()
        
        function APIsync(){
            fetch(apiurl)
            .then(response => {
                response.json().then(data => {
                    console.log(data)
                    console.log(data.results)
                    QuestionCreate(data)
            })
        })
        }
        
        function QuestionCreate(data){
            document.getElementById("question1").innerHTML = data.results[0].question;
            document.getElementById("choice1.1").innerHTML = data.results[0].correct_answer;
            document.getElementById("choice1.2").innerHTML = data.results[0].incorrect_answers[0];
            document.getElementById("choice1.3").innerHTML = data.results[0].incorrect_answers[1];
            document.getElementById("choice1.4").innerHTML = data.results[0].incorrect_answers[2];
            
        }
    </script>
    <div class="container black">
        <h1 class="test-text">We are testing our questions!</h1>
        <h2 id="question1"></h2>
        <p id="choice1.1"></p>
        <p id="choice1.2"></p>
        <p id="choice1.3"></p>
        <p id="choice1.4"></p>

    </div>
    <div class="result">
        Here are your results!
        <div id="score-results">/10</div>
        <div class="class-btn">
            <a href={{ url_for('index') }} class="btn btn-primary">Back to the Homepage</a>
        </div>
        
    </div>
{% endblock %}
